{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}{% if objects or view.allow_empty %}{{ answer.media }}{{ form.media }}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} confirmation{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ action_short_description }}
    </div>
{% endblock %}

{% block content %}
    <p>{{ action_description }}</p>
    <form style="display:inline-block;" enctype="multipart/form-data" method="post">
        {% csrf_token %}<input type="hidden" name="action" value="{{ action_name }}" />
        {% if objects or view.allow_empty %}
            <ul>
            {% for object in objects %}
                <li>{{ object }}<input type="hidden" name="{{action_checkbox_name}}" value="{{object.pk}}" /></li>
            {% endfor %}
            </ul>
            {{ form }}
            {{ answer.render_positiv }}
        {% endif %}
        {{ answer.render_negativ }}
    </form>
    {% if view.show_loader %}
    <div id="layer">
        <div id="modal">
            <svg width="58" height="58" viewBox="0 0 58 58" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(2 1)" stroke="#FFF" stroke-width="1.5">
                        <circle cx="42.601" cy="11.462" r="5" fill-opacity="1" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="1;0;0;0;0;0;0;0" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                        <circle cx="49.063" cy="27.063" r="5" fill-opacity="0" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="0;1;0;0;0;0;0;0" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                        <circle cx="42.601" cy="42.663" r="5" fill-opacity="0" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="0;0;1;0;0;0;0;0" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                        <circle cx="27" cy="49.125" r="5" fill-opacity="0" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="0;0;0;1;0;0;0;0" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                        <circle cx="11.399" cy="42.663" r="5" fill-opacity="0" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="0;0;0;0;1;0;0;0" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                        <circle cx="4.938" cy="27.063" r="5" fill-opacity="0" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="0;0;0;0;0;1;0;0" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                        <circle cx="11.399" cy="11.462" r="5" fill-opacity="0" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="0;0;0;0;0;0;1;0" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                        <circle cx="27" cy="5" r="5" fill-opacity="0" fill="#fff">
                            <animate attributeName="fill-opacity"
                                 begin="0s" dur="1.3s"
                                 values="0;0;0;0;0;0;0;1" calcMode="linear"
                                 repeatCount="indefinite" />
                        </circle>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    {% endif %}
{% endblock %}